@import url('../components/trackerSearchSection.css');
@import url('../components/trackerInfosSection.css');
@import url('../variables.css');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: var(--fontSize18px);
}

#map {
    width: 100%;
    min-height: 520px;
    /* background-color: var(--DarkGray); */
}